<form action="" method="get">
  <div class="input-group mt-4 mb-3">
    <input type="text" name="q" class="form-control" placeholder="Tìm kiếm">
    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
  </div>
</form>